#menu {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    font: bolder 16pt/36pt serif;
    z-index: 10;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline;
    float: left;
    height: 48px;
    width: 4.15%;
    text-align: center;
}
#menu li a {
    text-decoration: none;
    color: white;
}

#menu li.active {
    background-color: rgba(127,127,127,0.5);
}

.section, .slide {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.titel {
    padding-top: 48px;
    width: 30%;
    padding-left: 24px;
    font: bolder 48pt/48pt sans-serif;
    color: #FFF7E3;
}

.inhoud-elementen {
    height: 100%;
}

.hoofding-elementen {
    padding-top: 48px;
    background-color: rgba(127,127,127,0.5);
}

h1 {
    display: inline;
    margin: 12px;
    font: bolder 36pt/36pt serif;
    color: white;
    text-transform: uppercase;
}

h2 {
    display: inline;
    margin: 12px 0px 12px 12px;
    text-align: center;
    font: lighter 36pt/36pt serif;
    color: white;
    text-transform: uppercase;
}

.tekst {
    position: absolute;
    bottom: 0px;
    padding: 24px;
    background-color: #FFF7E3;
    width: 500px;
    overflow: auto;
    font: 10pt/14pt sans-serif;
    color: #5e6f19;
    text-align: left;
}

.tekst .prent {
    text-align: center;
}

.tekst .prent img {
    margin: 12px;
}

.tekst .groot {
    font: 16pt/20pt sans-serif;
}

table {
    border-spacing: 0;
}

td {
    vertical-align: middle;
    text-align: center;
}

.kolom {
    padding: 0 12px;
    width: 225px;
    float: left;
    text-align: left;   
}

.regels {
    text-align: center;
    padding: 0 100px;
    font: 16pt/20pt courier;
}

.regels-gecondenseerd {
    text-align: center;
    padding: 0 100px;
    font: 13pt/16pt sans-serif;
}

.regels-tekst {
    text-align: right;
    padding: 0 100px;
    font: 16pt/20pt courier;
}

.grote-regel {
    padding: 24px;
    display: inline-block;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 624px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

img.float {
    float: right; 
    margin-left: 12px;
}

img.float-left {
    float: left; 
    margin-right: 12px;
}

.regel {
    padding: 24px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 250px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.regel-prent {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 24px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.regel-prent img {
    display: block;
}

.kleine-regel {
    padding: 24px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 125px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

img.breed {
    width: 100%;
}

img.geplakt {
    margin-bottom: 12px;
    -webkit-box-shadow: 0px 3px 6px 0px #000;
    -moz-box-shadow: 0px 3px 6px 0px #000;
    box-shadow: 0px 3px 6px 0px #000;
}

.scroll-buffer {
    height: 200px;
    
}

.vragen-en-antwoorden {
    text-align: center;
    padding: 0 100px;   
}

.vraag-en-antwoord {
    padding: 18px;
    display: inline-block;
    background-color: #F19411;
    width: 300px;
    margin: 18px;
    font: 18pt/21pt serif;
    color: white;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.brede-vraag-en-antwoord {
    padding: 18px;
    display: inline-block;
    background-color: #F19411;
    width: 600px;
    margin: 18px;
    font: 18pt/21pt serif;
    color: white;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.vraagwoord {
    display: inline;
}

.antwoord, .antwoordwoord {
    margin: 24px 0;
    padding: 12px;
    background-color: white;
    color: #F19411;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    -moz-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.antwoord.inline {
    padding: 0;
}

.antwoord.verborgen {
    color: white;
    -webkit-box-shadow: 0px 3px 6px 0px #000;
    -moz-box-shadow: 0px 3px 6px 0px #000;
    box-shadow: 0px 3px 6px 0px #000;
}

#a-titel {
    background-image: url(img/titel.jpg);
    background-position: center center;
}

#a-les1 {
    background-image: url(img/het-aards-paradijs.jpg);
    background-position: bottom center;
}

#a-les2 {
    background-image: url(img/de-verloren-zoon.jpg);
    background-position: center center;
}

#a-les3 {
    background-image: url(img/de-smalle-weg.jpg);
    background-position: top center;
}

#a-les4 {
    background-image: url(img/jezus-beproeving.jpg);
    background-position: top center;
}

#a-les5 {
    background-image: url(img/drie-eenheid.jpg);
    background-position: top center;
}

#a-les6 {
    background-image: url(img/de-tien-geboden.jpg);
    background-position: center center;
}

#a-gebod-god1 {
    background-image: url(img/gebod-1.jpg);
    background-position: top center;
}

#a-gebod-god2 {
    background-image: url(img/gebod-2.jpg);
    background-position: center center;
}

#a-gebod-god3 {
    background-image: url(img/gebod-3.jpg);
    background-position: top center;
}

#a-gebod-god4 {
    background-image: url(img/gebod-4.jpg);
    background-position: center center;
}

#a-gebod-god5 {
    background-image: url(img/gebod-5.jpg);
    background-position: center center;
}

#a-gebod-god6 {
    background-image: url(img/gebod-6.jpg);
    background-position: center center;
}

#a-gebod-god7 {
    background-image: url(img/gebod-7.jpg);
    background-position: center center;
}

#a-gebod-god8 {
    background-image: url(img/gebod-8.jpg);
    background-position: center center;
}

#a-les7 {
    background-image: url(img/de-vijf-geboden.jpg);
    background-position: center center;
}

#a-les8 {
    background-image: url(img/biechtstoel.jpg);
    background-position: center center;
}

#a-les9 {
    background-image: url(img/drie-eenheid.jpg);
    background-position: top center;
}

#a-les10-bruiloft-te-kana {
    background-image: url(img/bruiloft-te-kana.jpg);
    background-position: top center;
}

#a-les10-broodvermenigvuldiging {
    background-image: url(img/broodvermenigvuldiging.jpg);
    background-position: top center;
}

#a-les11 {
    background-image: url(img/laatste-avondmaal.jpg);
    background-position: bottom center;
}

#a-les12 {
    background-image: url(img/heilige-mis.jpg);
    background-position: center center;
}

#a-les13 {
    background-image: url(img/eucharistische-aanbidding.jpg);
    background-position: center center;
}

#a-les14 {
    background-image: url(img/communie-ontvangen.jpg);
    background-position: center center;
}

#a-les15 {
    background-image: url(img/consecratie.png);
    background-position: center center;
}

.onthoud {
    background-color: rgba(127,127,127,0.5);
}

.vragen {
    background-color: #FFE5A2; 
    background-image: url(img/ricepaper.png);
}
