#menu {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    font: bolder 28pt/36pt serif;
    z-index: 10;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline;
    float: left;
    height: 48px;
    width: 5%;
    text-align: center;
}
#menu li a {
    text-decoration: none;
    color: white;
}

#menu li.active {
    background-color: rgba(127,127,127,0.5);
}

.section, .slide {
    background-size: cover;
    background-attachment: fixed;
}

.inhoud-elementen {
    height: 100%;
}

.hoofding-elementen {
    padding-top: 48px;
    background-color: rgba(127,127,127,0.5);
}

h1 {
    display: inline-block;
    margin: 12px 0px 12px -10px;
    font: bolder 48pt serif;
    color: white;
    text-transform: uppercase;
}

h2 {
    display: inline-block;
    margin: 12px 0px 12px 12px;
    text-align: center;
    font: lighter 48pt/48pt serif;
    color: white;
    text-transform: uppercase;
}

.tekst {
    margin-top: 72px;
    padding: 24px;
    background-color: #FFF7E3;
    width: 500px;
    overflow: auto;
    font: 10pt/14pt sans-serif;
    color: #5e6f19;
}

.tekst .prent {
    text-align: center;
}

table {
    border-spacing: 12px;
}

td {
    vertical-align: top;
}

.kolom {
    padding: 0 12px;
    width: 225px;
    float: left;
}

.regels {
    text-align: center;
    padding: 0 100px;
    font: 16pt/20pt courier;
}

.grote-regel {
    padding: 24px;
    display: inline-block;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 624px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.regel {
    padding: 24px;
    display: inline-block;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 250px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.kleine-regel {
    padding: 24px;
    display: inline-block;
    background-color: #FFE5A2;
    background-image: url(img/ricepaper.png);
    width: 125px;
    margin: 24px;
    color: #5e6f19;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

img.breed {
    width: 100%;
}

img.geplakt {
    -webkit-box-shadow: 0px 3px 6px 0px #000;
    -moz-box-shadow: 0px 3px 6px 0px #000;
    box-shadow: 0px 3px 6px 0px #000;
}

.vragen-en-antwoorden {
    text-align: center;
    padding: 0 100px;   
}

.vraag-en-antwoord {
    padding: 18px;
    display: inline-block;
    background-color: #F19411;
    width: 300px;
    margin: 18px;
    font: 18pt/21pt serif;
    color: white;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 0px #000;
    -moz-box-shadow: 0px 6px 12px 0px #000;
    box-shadow: 0px 6px 12px 0px #000;
}

.antwoord {
    margin: 24px 0;
    padding: 12px;
    background-color: white;
    color: #F19411;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    -moz-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.antwoord.verborgen {
    color: white;
    -webkit-box-shadow: 0px 3px 6px 0px #000;
    -moz-box-shadow: 0px 3px 6px 0px #000;
    box-shadow: 0px 3px 6px 0px #000;
}

#a-les1 {
    background-image: url(img/het-aards-paradijs.jpg);
    background-position: bottom center;
}

#a-les2 {
    background-image: url(img/de-verloren-zoon.jpg);
    background-position: center center;
}

#a-les3 {
    background-image: url(img/de-smalle-weg.jpg);
    background-position: top center;
}

#a-les4 {
    background-image: url(img/jezus-beproeving.jpg);
    background-position: top center;
}

#a-les5 {
    background-image: url(img/drie-eenheid.jpg);
    background-position: top center;
}

#a-les6 {
    background-image: url(img/de-tien-geboden.jpg);
    background-position: center center;
}

#a-gebod-god1 {
    background-image: url(img/gebod-1.jpg);
    background-position: top center;
}

#a-gebod-god2 {
    background-image: url(img/gebod-2.jpg);
    background-position: center center;
}

#a-gebod-god3 {
    background-image: url(img/gebod-3.jpg);
    background-position: top center;
}

#a-gebod-god4 {
    background-image: url(img/gebod-4.jpg);
    background-position: center center;
}

#a-gebod-god5 {
    background-image: url(img/gebod-5.jpg);
    background-position: center center;
}

.onthoud {
    background-color: rgba(127,127,127,0.5);
}

.vragen {
    background-color: #FFE5A2; 
    background-image: url(img/ricepaper.png);
}
