#fullpage {
    width: 21cm;
}

.section, .slide {
    background-image: none !important;
    clear: both;
}

.section {
    page-break-after: always;
}

.titel {
    width: 100%;
    color: gray;
}

#menu, #navigatie-instructie {
    display: none;
}

.hoofding-elementen {
    margin-left: 24px;
    padding-top: 0;
    background-color: white;
}

h1 {
    margin: 0;
    font: bolder 36pt/36pt serif;
    color: darkgray;
    text-transform: uppercase;
}

h2 {
    display: inline;
    margin: 0 0 0 12px;
    text-align: center;
    font: lighter 36pt/36pt serif;
    color: darkgray;
    text-transform: uppercase;
}

.tekst {
    padding: 12px;
    background-color: white;
    position: static;
}   

.regels {
    text-align: center;
    padding: 0;
    font: 14pt/17pt courier;
}

.regels-tekst {
    text-align: right;
    padding: 0;
    font: 16pt/20pt courier;
}

.grote-regel {
    padding: 0px;
    display: list-item !important;
    background-color: white;
    background-image: none;
    width: 100%;
    margin: 24px;
    color: black;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.regel, .kleine-regel {
    padding: 0px;
    display: list-item !important;
    vertical-align: top;
    background-color: white;
    background-image: none;
    width: 100%;
    margin: 24px;
    margin-left: 48px;
    color: black;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    clear: both;
}

.regel-prent {
    float: right;
    clear: both;
    display: static;
    vertical-align: top;
    width: 250px;
    margin: 0 0 12px 0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.regel-prent img {
    width: 250px;
}

img.geplakt {
    margin: 0 0 12px 12px;
    float: right;
    clear: both;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.vragen-en-antwoorden {
    text-align: center;
    padding: 0;   
}

.vraag-en-antwoord {
    padding: 12pt;
    display: block;
    background-color: white;
    border: solid 1pt darkgray;
    width: 100%;
    margin: 18px;
    font: 14pt/17pt serif;
    color: black;
    text-align: left;
    border-radius: 5pt;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.antwoord, .antwoord.verborgen {
    margin: 12px 0 0 0;
    padding: 0;
    background-color: white;
    color: darkgray;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.onthoud {
    background-color: white;
}

.vragen {
    background-color: white; 
    background-image: none;
}
